<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PNEP</title>
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
    <main>
      <h1>Prototype NodeJs Express Paypal</h1>
      <h2>(PNEP)</h2>
      <article>
        <h3>Guide PDF</h3>
        <p>Qu'est-ce que le Lorem Ipsum? Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.</p>
        <p>29.00 EUR</p>
        <button type="submit">Acheter</button>
      </article>    
    </main>    
  </body>
</html>